body {
  background-color: #ac9c9c;
}

h1 {
  color: aliceblue;
  font-family: "Krona One", serif;
}

.main-especials,
.main-name {
  color: #2e4057;
}

a {
  text-decoration: none;
  background-color: #a63446;
  color: black;
}

p {
  color: aliceblue;
  font-family: "Montserrat", serif;
}
