* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: #fffffe;
}

.container {
  margin: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-title {
  color: #2b2c34;
  font-size: 36px;
  font-family: "Krona One", serif;
}

.main-especials,
.main-name {
  color: #2e4057;
}

.apresentacao-links-subtitulos {
  color: #2e4057;
  font-weight: 400;
  font-size: 24px;
  font-family: "Krona One", sans-serif;
}

.apresentacao-links-link {
  text-decoration: none;
  width: 378px;
  text-align: center;
  font-size: 24px;
  padding: 21.5px 0;
  background-color: #6246ea;
  border: 2px solid #2b2c34;
  border-radius: 8px;
  color: black;
  font-family: "Montserrat", serif;
  font-weight: 600;
}

.apresentacao-links-link:hover {
  background-color: #4831bb;
  color: white;
  transition: 0.3s;
}

p {
  color: #2b2c34;
  font-size: 24px;
  font-family: "Montserrat", serif;
  font-weight: 400;
}

.btn-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}
